.trainerTaskWrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dnd_sudoku_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dnd_sudoku_imgWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 120px;
  -webkit-box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
          box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
  border-radius: 10px;
}

.dnd_sudoku_imgWrapper img {
  max-width: 90%;
  max-height: 90%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.dnd_sudoku_drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.dnd_sudoku_dropeitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 120px;
  -webkit-box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
          box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
  border-radius: 10px;
}

.dnd_sudoku_answers {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  width: 100%;
  -webkit-box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
          box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
  border-radius: 10px;
}

.dnd_sudoku_answer,
.dnd_sudoku_answer_drop {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  width: 110px;
  height: 110px;
  border-radius: 12px;
  cursor: -webkit-grab;
  cursor: grab;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
          box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbcdd3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: none;
      touch-action: none;
}

.dnd_sudoku_checkTask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.dnd_sudoku_chek_answer {
  font-size: 26px;
}

.dnd_sudokuBtn {
  cursor: pointer !important;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4 !important;
          box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4 !important;
  border: none !important;
  border-radius: 12px !important;
  background-color: #0ab7d3 !important;
  padding: 10px !important;
  font-size: 26px !important;
  color: white !important;
  min-width: 100px !important;
  margin: 0 !important;
}

.dnd_sudokuBtn:hover {
  -webkit-box-shadow: -5px -5px 15px #b8b7b7, 5px 5px 15px #99999b !important;
          box-shadow: -5px -5px 15px #b8b7b7, 5px 5px 15px #99999b !important;
}